<div>
  <link href="./image.css" rel="stylesheet" />
  <footer h1="sdf" class="image-image">
    <img
      alt="image"
      src="public/playground_assets/image9-700h.png"
      class="image-hero-image"
    />
    <span class="image-text"><span>SS20CO058 (SumitPatel)</span></span>
    <img
      alt="image"
      src="public/playground_assets/union-200h.png"
      class="image-graphic-top"
    />
    <img
      alt="image"
      src="public/playground_assets/group%2018-200w.png"
      class="image-image1"
    />
  </footer>
</div>
